* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.faq-section
{
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
}
.faq-item
{
    border-bottom: 1px solid;
    padding: 10px;
}
.faq-question
{
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    font-size: 1.5rem;
    color: #007bff;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    outline: none;

}
.icon
{
    font-size: 1.5rem;
    color: #007bff;
}
.faq-answer
{
    padding: 10px;
    font-size: 1.2rem;
    color: #555;
    display: none;
}
.faq-question.active.icon
{
    content: "-";
}