* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.slider-container{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}
.slider-images{
    display: flex;
    align-items: center;
    gap: 21px;
}
.slider-images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;

}
.slider-image{
    width: 110px;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    transition: 0.7s ease;
}
.slider-images .slider-image:first-child, .slider-images .slider-image:last-child{
    height: 400px;
}
.slider-images .slider-image:nth-child(2), .slider-images .slider-image:nth-child(6){
    height: 565px;
}
.slider-images .slider-image:nth-child(3), .slider-images .slider-image:nth-child(4),.slider-images .slider-image:nth-child(5) {
    height: 400px;
    
}
.train{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: white;
    position: absolute;
    top: 50%;
    left: -10%;
    transform: rotate(270deg);
    transition: 0.7s ease;

}
.metro{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: white;
    position: absolute;
    top: 50%;
    left: -50%;
    transform: rotate(270deg);
    transition: 0.7s ease;

}
.Bus{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: white;
    position: absolute;
    top: 50%;
    left: -60%;
    transform: rotate(270deg);
    transition: 0.7s ease;

}
.details{
    position: absolute;
    bottom: 43px;
    left:43px
}
.details h2{
    font-size: 26px;
    font-weight: 700;
    text-align: left;
    line-height: 44px;
    text-align: left;
    color: white;
    text-transform: uppercase;
    transition: 0.7 ease;
    display: none;
}
.details p{
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    line-height: 33px;
    text-align: left;
    color: white;
    text-transform: uppercase;
    transition: 0.7 ease;
    display: none;
}
.slider-image.active{
    width: 500px !important;
    height: 550px !important;
}
.slider-image.active h1{
    display: none;
}
.slider-image.active .details p, .slider-image.active .details h2{
display: block;
}

.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    max-width: 1250px;
    margin: 150px auto;
    padding: 20px;
    gap: 20px;
}
.card-list .card-item {
    background: #fff;
    padding: 26px;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
    list-style: none;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid transparent;
    transition: border 0.5s ease;
    position: relative;
    height: 500px;
}
.card-list .card-item:hover {
    border: 2px solid #000;
}
.card-list .card-item img {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 8px;
    object-fit: cover;
}
.card-list span {
    display: inline-block;
    background: #F7DFF5;
    margin-top: 32px;
    padding: 8px 15px;
    font-size: 0.75rem;
    border-radius: 50px;
    font-weight: 600;
}
.card-list .lrt-card {
    background-color: #F7DFF5; 
    color: #DA3246;
}   
.card-list .metro-card {
    background-color: #d6f8d6; 
    color: #205c20;
}
.card-list .bus-card {
background-color: #d1e8ff;
color: #2968a8;
}
.card-item h3 {
    color: #000;
    font-size: 1rem;
    margin-top: 28px;
    font-weight: 500;
}
.card-item .arrow {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-35deg);
    height: 40px;
    width: 40px;
    color: #000;
    border: 1px solid #000;
    border-radius: 50%;
    margin-top: 40px;
    transition: 0.2s ease;
}
.card-list .card-item:hover .arrow  {
    background: #000;
    color: #fff; 
}
@media (max-width: 1200px) {
    .card-list .card-item {
        padding: 15px;
    }
}
@media screen and (max-width: 980px) {
    .card-list {
        margin: 0 auto;
    }
}