* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    background-image: url('./pictures/New_Administrative_Capital_4.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: -1;
    min-height: 100vh;
    overflow-y: scroll;
}

body::before {
    content: "";
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    filter: blur(3px);
    z-index: -1;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
}


.plan-container {
    max-width: 350px;
    height: 500px;
    margin: 100px auto;
    background-color: rgb(190, 243, 219, 0.6);
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plan-h2 {
    color: #198754;
    margin-bottom: 20px;
}

.from-box, .to-box, .date {
    font-size: 15px;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 0.5px solid black;
    border-radius: 5px;
    background-color: rgb(190, 243, 219);
}

.plan-btn {
    background-color: rgb(25, 135, 84);
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    margin-top: 160px;
    border-radius: 5px;
    cursor: pointer;
}

.faq-question {
    background-color: transparent;
    border: none;
    margin: 10px 0;
    cursor: pointer;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.faq-item {
    margin: 10px 0;
    position: relative;
}

.faq-answer {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: transparent;
    padding: 10px;
    z-index: 1;
}

.faq-question:focus + .faq-answer,
.faq-answer:focus-within {
    display: block;
}

.faq-question.active + .faq-answer {
    display: block;
}

.header {
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
}

footer {
    background: rgba(255, 255, 255);
    padding: 20px;
    text-align: center;
    width: 100%;
}
.line {
    border-bottom: 2.5px solid white;
    margin-top: 20px;
    width: 100%;
}
.icon {
    font-size: 1rem;
    color: black;
}

.faq-question.active .icon {
    content: "-";
}