* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.custom-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:rgb(242, 232, 255); 
    background: url(https://c.files.bbci.co.uk/0be1/live/12b47f60-768d-11ef-9c55-5d81b57c4b08.jpg);
    background-size: cover;
}

.wrapper {
    width: 420px;
    background:rgb(242, 232, 255); 
    color: #333;
    border-radius:  10px;
    padding: 30px 40px ;
    box-shadow: 0px 2px 8px rgba(1, 1, 1, 1);
    opacity: 90%;
}

.wrapper h1 {
    font-size: 26px;
    text-align: center;
}

.title {
    font-size: 26px;
    text-align: center;
    margin-top: 25px;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(51, 51, 51, 0.5);  
    border-radius: 40px;
    font-size: 16px;
    color: #333;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #333;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #333;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 600;  
}

.wrapper .login-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.login-link p a {
    color: #333;
    text-decoration: none;
    font-weight: 600;
}

.login-link p a:hover {
    text-decoration: underline;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.namesContainer { 
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px; 
} 
.Marc abt{
    display: grid; 
    grid-template-rows: auto auto; 
    text-align: center;
} 
.David abt{
    display: grid; 
    grid-template-rows: auto auto; 
    text-align: center;
}
.Omar abt{
    display: grid; 
    grid-template-rows: auto auto; 
    text-align: center;
}
.Lydia abt {
    display: grid; 
    grid-template-rows: auto auto; 
    text-align: center;
}
.slider-container{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}
.slider-images{
    display: flex;
    align-items: center;
    gap: 21px;
}
.slider-images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;

}
.slider-image{
    width: 110px;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    transition: 0.7s ease;
}
.slider-images .slider-image:first-child, .slider-images .slider-image:last-child{
    height: 400px;
}
.slider-images .slider-image:nth-child(2), .slider-images .slider-image:nth-child(6){
    height: 565px;
}
.slider-images .slider-image:nth-child(3), .slider-images .slider-image:nth-child(4),.slider-images .slider-image:nth-child(5) {
    height: 400px;
    
}
.train{
    font-family: "Jost", sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: white;
    position: absolute;
    top: 50%;
    left: -10%;
    transform: rotate(270deg);
    transition: 0.7s ease;

}
.metro{
    font-family: "Jost", sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: white;
    position: absolute;
    top: 50%;
    left: -50%;
    transform: rotate(270deg);
    transition: 0.7s ease;

}
.Bus{
    font-family: "Jost", sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: white;
    position: absolute;
    top: 50%;
    left: -60%;
    transform: rotate(270deg);
    transition: 0.7s ease;
}
.details{
    position: absolute;
    bottom: 43px;
    left:43px
}
.details h2{
    font-family: "Jost", sans-serif;
    font-size: 26px;
    font-weight: 700;
    text-align: left;
    line-height: 44px;
    text-align: left;
    color: white;
    text-transform: uppercase;
    transition: 0.7 ease;
    display: none;
}
.details p{
    font-family: "Jost", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    line-height: 33px;
    text-align: left;
    color: white;
    text-transform: uppercase;
    transition: 0.7 ease;
    display: none;
}
.slider-image.active{
    width: 766px !important;
    height: 750px !important;


}
.slider-image.active h1{
    display: none;
}
.slider-image.active .details p, .slider-image.active .details h2{
display: block;

}





